<script>window.userId = "<%= @current_user[:id] %>"; window.userToken = "<%= @phx_token %>"; window.phxUrl = "<%= String.replace_leading(IronfireServer.Router.Helpers.url(@conn),"http","ws")%>/socket/websocket" </script>

<div id="elm-target"></div>